<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索显示(直接显示)</title>
    <script src="../vue.js"></script>
</head>
<body>

<div id="app">
    <input type="text" placeholder="输入搜索内容" v-model="mySearch" @change="inputNull">
    <button @click="toSearch">Search</button>
    <br>
    <p v-for="item in textList" v-show="showIndex">
        {{item.title}}
    </p>
    <p v-for="item in otherTextList" v-show="!showIndex">
        {{item.title}}
    </p>
</div>

<script>
    let vm = new Vue({
        el: '#app',
        data: {
            mySearch: '',
            textList: [
                {
                    title: 'What You Need To Know About CSS Variables'
                },
                {
                    title: 'Freebie: 4 Great Looking Pricing Tables'
                },
                {
                    title: '20 Interesting JavaScript and CSS Libraries for February 2016'
                },
                {
                    title: 'Quick Tip: The Easiest Way To Make Responsive Headers'
                },
                {
                    title: 'Learn SQL In 20 Minutes'
                },
                {
                    title: 'Creating Your First Desktop App With HTML, JS and Electron'
                }
            ],
            otherTextList:[],
            showIndex:true
        },
        methods:{
            toSearch(){
                let list = this.textList;
                let search=this.mySearch;

                //trim()去掉字符串头尾空格,toLowerCase() 方法用于把字符串转换为小写
                search=search.trim().toLowerCase();
                list=list.filter((item)=>{
                    if(item.title.toLowerCase().includes(search)){
                        return item;
                    }
                });
                console.log(list);
                this.otherTextList=list;
            },
            inputNull(){
                if(this.mySearch!==''){
                    this.showIndex=false;
                }
            }
        }
    })
</script>

</body>
</html>